easydict==1.9
matplotlib==3.3.4
numba==0.56.0
numpy==1.19.2
opencv_python==4.6.0.66
plyfile==0.7.4
progress==1.6
PyYAML==6.0
scipy==1.5.4
six==1.16.0
tensorboardX==2.5.1
termcolor==1.1.0
torch==1.4.0
torchvision==0.5.0
tqdm==4.64.0
